.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  background-color: #ebebeb;
  margin-bottom: 1rem;
  box-shadow: -8px 11px 35px -15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 11px 35px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 11px 35px -15px rgba(0, 0, 0, 0.75);
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container {
  position: relative;
}
.new {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: aquamarine;
  text-transform: uppercase;
  font-weight: bold;
}
